<%- include("./partials/header") %>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">
<button>Sign UP</button>
</form>

<%- include("./partials/footer") %>